* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header {
    background-color: rgb(163, 160, 160);
    padding: 16px 0;
    color: #fff;
    display: flex;
    border-bottom: 16px solid #fff;
    justify-content: center;
    text-transform: uppercase;
}
header button {
    margin-left: 16px;
}
form {
    background-color: #c8d6e5;
    padding: 24px;
    text-align: center;
}
form h2 {
    margin-bottom: 16px;
}
input, button {
    padding: 8px;
}
button {
    background-color: #009432;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}
button {
    cursor: pointer;
}
#botao-cancelar {
    background-color: red;
}
.camera-emoji {
    font-size: 1.5em;
    vertical-align: middle;
    margin-left: 10px;
}

